spring.application.name=ClassRecord
#Secrets

#DB config
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=

#JPA
spring.jpa.show-sql=
spring.jpa.hibernate.ddl-auto=
spring.jpa.properties.hibernate.format_sql=
spring.jpa.database=
spring.jpa.database-platform=

# Hikari Config
spring.datasource.hikari.minimum-idle=
spring.datasource.hikari.maximum-pool-size=
spring.datasource.hikari.idle-timeout=
spring.datasource.hikari.pool-name=
spring.datasource.hikari.max-lifetime=
spring.datasource.hikari.connection-timeout=

# Logging Configuration
logging.level.org.springframework=
logging.level.org.com.evapilots.classrecord=
logging.level.org.hibernate=
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=
logging.level.org.hibernate.SQL=

#mailing
mail.smtp.auth=
mail.smtp.starttls.enable=
mail.smtp.host=
mail.smtp.port=
mail.smtp.username=
mail.smtp.password=

#Secret
Secret=
